@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wide-parent {
    @apply text-cyberpunk-wht w-full flex flex-col justify-start items-center px-4 xl:px-0;
  }
  .section {
    @apply w-full max-w-7xl;
  }
}
@layer utilities {
  .text-shadow-red {
    text-shadow: -3px 0 red;
  }
  .text-shadow-green {
    text-shadow: -3px 0 green;
  }
}
html {
  scroll-behavior: smooth;
}